body {
    margin: 10px;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(92, 116, 112, 0.534);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #494949;
}

.app {
    display: block;
    margin: 0px auto;
    margin-top: 50px;
    width: 600px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
}

@media all and (max-width: 768px) {
    .app {
        width: calc(100% - 20px);
        padding: 10px;
        border-radius: 0px;
    }
    ul.todo-list li .price {
        min-width: 100px;
    }
    ul.todo-list li .price h3 {
        font-size: 16px;
    }
}

ul.todo-list {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    margin-bottom: 30px;
}

ul.todo-list li {
    height: 100px;
    border-bottom: 1px solid #E7E7E7;
    display: flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul.todo-list li .icon {
    display: flex;
    justify-content: center;
    margin-right: 15px;
    margin-top: 10px;
}

ul.todo-list li .icon img {
    /* max-width: 100px;*/
    max-height: 100px;
}

ul.todo-list li .name {
    height: 100px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

ul.todo-list li .name span {
    font-family: 'Montserrat', sans-serif;
    color: #5A5A5A;
    font-size: 20px;
    font-weight: 500;
}

ul.todo-list li .name span.item-price {
    font-size: 16px;
    color: #A6A6A6;
}

ul.todo-list li .price {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100px;
    min-width: 90px;
}

ul.todo-list li .price h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #9D3872;
    font-size: 24px;
}

ul.todo-list .remove {
    height: 100px;
    width: 60px;
    min-width: 60px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    border: 0px;
    background-color: transparent;
}

ul.todo-list li .remove i {
    color: #979797;
    font-size: 24px;
}

button.add-button:hover {
    background-color: rgba(9, 94, 30, 0.795);
    text-transform: uppercase;
}

button.add-button {
    background-color: #69B614;
    width: 129px;
    height: 37px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    border: 0px;
    font-size: 11px;
    cursor: pointer;
    outline: none;
}

h4 {
    background-color: #F3F3F3;
    color: #9D3872;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    float: right;
}